.containerMenu {
  width: 100%;
  background: #1C1C1E;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 0;
}

.menu>div {
  display: flex;
}

.link {
  display: block;
  padding: 20px 15px;
  font-size: 20px;
  font-weight: 500;
}

.link:hover {
  background: rgb(38, 111, 180);
  color: white;
}