.containerMenu {
  width: 100%;
  background: #1C1C1E;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 0;
}

.menu>div {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.link {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

.link:hover {
  background: rgb(38, 111, 180);
  color: white;
}

.numProduct {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}