.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  color: white;
}

.item {
  background: #2C2C2E;
  padding: 20px;
  font-size: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.containerIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item h3 {
  font-size: 25px;
  margin: 5px 0;
}

.listItem {
  display: flex;
  gap: 10px;
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
}

.page {
  background-color: #2C2C2E;
  padding: 40px;
  display: flex;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  transform: scale();
  animation: scale 0.3s ease forwards;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price {
  font-size: 28px;
  margin: 10px 0;
}

.image {
  width: 100%;
  min-width: 300px;
  margin-right: 30px;
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}