.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  background: white;
  padding: 20px;
  font-size: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}